$font-stack:    Helvetica, sans-serif;
$primary-color: #1c75bc;
$white: #ffffff;
$light-gray: lightgray;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
}

section {
  position: relative;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  margin-bottom: 20px;
}

a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

.active {
  display: block;
}

.hidden {
  display: none;
}

/* PAGE BACKGROUNDS */

.background {
  /*background: url(../img/header.jpg);*/
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .overlay {
    /*background: url(../img/overlay.jpg);*/
    height: 100vh;
    opacity: 0.8;

    .overlay-inner {
      /*background: #000000;*/
      height: 100vh;
      opacity: 0.9;
    }

  }
}





/* LOGO & NAVIGATION */

.logo img {
  position: absolute;
  width: 20%;
  top: 30px;
  left: 8%;
}

#navigation {
  height: 500px;
  width: 20%;
  position: absolute;
  top: 30%;
  left: 8%;
  color: $white;
  border-right: 5px solid $primary-color;

  ul {
    margin: 20px auto;
    position: absolute;
    list-style: none;
    font-size: 2.5em;
    line-height: 1.5em;

    .current-menu-item .sub-menu {
      display:block;
    }

    .current-menu-ancestor .sub-menu {
      display:block;
    }

    li {
      padding-right: 15px;
      text-align: right;

      &:hover {
        //border-right: 2px solid $primary-color;
      }

      .sub-menu {
        display: none;
        position: absolute;
        top: -47%;
        left: 110%;
        width: 100%;
        li {
          display: inline;
          font-size: 0.3em;
          line-height: 0.5em;
        }
      }

      a {
        color: $white;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          color: $primary-color;
          -webkit-transition: background-color 0.5s ease;
          -moz-transition: background-color 0.5s ease;
          -ms-transition: background-color 0.5s ease;
          -o-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
        }
      }

      span {
        float: right;
      }
    }
  }
}

/* CONTENT */

.main-content {
  width: 60%;
  min-height: 500px;
  opacity: 0.9;
  color: $white;
  border-top: 2px solid $white;
  position: absolute;
  top: 30%;
  left: 30%;

  .description {
    position: absolute;
    top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* FOOTER */

footer {
  border-top: 2px solid $light-gray;
  bottom: 0;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  color: $white;
  text-align: center;

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;

    li {
      color: $white;
      display: inline;
      padding-right: 2em;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}




