$font-stack:    Abel, sans-serif;
$primary-color: #1c75bc;
$text: #000;
$light-gray: lightgray;

/**************************************
* GLOBAL
***************************************/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Abel', sans-serif;
}

section {
  position: relative;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 20px;
}

h1 {
  font-size: 34px;

}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

p {
  margin-bottom: 20px;
}

a {
  color: $text;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

.active {
  display: block;
}

.hidden {
  display: none!important;
}

.btn-primary {
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 1em;
  background: #096484;
  color: #FFFFFF !important;
  border: 1px solid #096484;
  border-width: 1px 0;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);

  &:hover {
    background: #0a7297;
    border-bottom-color: #09607f;
  }
}

/**************************************
* PAGE BACKGROUNDS
***************************************/

.main-content {
  width: 75%;
  height: auto;
  color: #000;
  position: absolute;
  font-size: 19px;
  top: 0;
  left: 25%;
  padding-bottom: 40px;
  background: url('../img/back-overlay.png') repeat;
  opacity: 0.3;
  overflow: hidden;
}

/**************************************
* LOGO & NAVIGATION
***************************************/

.panel-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  height: 100vh;
  background: #096484;
  font-weight: bold;
  -webkit-box-shadow: 14px 15px 51px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 15px 51px -16px rgba(0,0,0,0.75);
  box-shadow: 14px 15px 51px -16px rgba(0,0,0,0.75);
  font-family: 'Indie Flower', cursive;

  .logo {
    padding: 2em;
    display: inline-block;

    img {
      width: 100%;
      float: right;
    }
  }

  #navigation {
    margin-top: 30px;

    ul li {
      font-size: 1.2em;
      padding: 0.7em;
      padding-left: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #e6e6e6;

      a {
        color: #fff;
        display: block;
        position: relative;
        padding-bottom: 10px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0;
          background-color: #fff;
          -webkit-transition: width 0.3s linear;
          -moz-transition: width 0.3s linear;
          -ms-transition: width 0.3s linear;
          -o-transition: width 0.3s linear;
          transition: width 0.3s linear;
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  #toggle-menu {
    display: none;
  }

  .contact-info {
    position: absolute;
    border-top: 2px solid #fff;
    padding-top: 10px;
    bottom: 0;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    a {
      color: #fff;
    }
  }
}

/**************************************
* CONTENT
***************************************/

.panel-grid {

  #head-image {
    background-image: url(http://vev/wp_vev/wp-content/uploads/2017/03/Picture5.png);
    background-repeat: repeat;
    height: 300px;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
    margin: 0 20px;

    .panel-grid & {
      margin-left: 0!important;
      margin-right: 0;
    }

  }

}

.head-background {
  background: #191919;
  background-image: url(../img/wordcloud.jpg);
  display: block;
  height: 450px;
  color: #000;
  font-size: 19px;
  background-size: cover;
  top: 0;
  -webkit-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
  margin: 0 5px;
}

.main-content {
  width: 75%;
  min-height: 500px;
  opacity: 0.9;
  color: $text;
  position: absolute;
  font-size: 19px;
  top: 0;
  left: 25%;
}

.description {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 85%;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;

  ul {
    margin-bottom: 20px;
  }

  &:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }

  &:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }
}
.description:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.gallery {
  .gallery-item {
    width: 49%!important;
    padding-right: 1%;
    margin: 0;
  }
  p {
    margin: 0;
  }
}
.gallery-columns-2 img {
  border: none!important;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 180px;
  padding:2px;
}

.wpcf7-form {
  p {
    width: 100%;

    label {
      width: 20%;
      margin-top: 0.5em;
      line-height: 2.2em;
    }

    .wpcf7-text, .wpcf7-textarea {
      width: 80%;
      float: right;

      padding: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border: 0;
    }

    .wpcf7-submit{
      width: 13em;
      float: right;
      margin-right: 10%;
      margin-top: 1em;
      cursor: pointer;
    }
  }

  span.wpcf7-not-valid-tip {
    margin-left: 2em;
  }

  .wpcf7-response-output {
    margin-top: 8em;
    width: 56%;
  }
}

#contact-form .panel-grid-cell {
  width: 100%;
}

.panel-grid-cell{
  float: left!important;
}

/**************************************
* FOOTER
***************************************/

footer {
  bottom: 0;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  color: $text;
  text-align: center;

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;

    li {
      color: #fff;
      display: inline;
      padding-right: 2em;
      text-align: center;
    }
  }
}


/**************************************
* MOBILE HEADER
***************************************/

.noscroll{overflow: hidden;}
.noscroll #head-mobile{background-color: #fff;}
#head-mobile{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #f8f8f8;
  z-index: 9999;

  .top-animate{
    top: 19px!important;
    -webkit-transform: rotate(45deg);transform: rotate(45deg);
  }
  .mid-animate{
    opacity: 0;
  }
  .bottom-animate{
    top: 19px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
  }
  .top-menu{
    top: 14px;
  }
  .mid-menu{
    top: 19px;
  }
  .bottom-menu{
    top: 24px;
  }
  .menui{
    width: 24px;
    left: 50%;
    margin-left: -12px;
    height: 2px;
    background: #096484;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    position: absolute;
  }

  .icon{
    transition: 0.8s ease;
    z-index: 9999;
    position: absolute;
    height: 43px;
    width: 43px;
    margin: 0px;
    top: 15px;
    right: 15px;
    border: 1px solid #096484;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    &:hover {
      border-color: #323232;

      .menui{
        background-color: #323232;
      }
    }
  }
}

#mobile-menu {
  display: none;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.phone {
  margin: 0 -2em;
}

.mobilenav{
  display: none;
  background-color: rgba(0,0,0,0.75);
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 9998;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  .inner{
    height: 73%;
    overflow-y: auto;
    background: #fff;
    padding: 75px 15px 90px 15px;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
  }

  .mobile-logo {
    background: rgba(9, 100, 132, 0.6);
    position: absolute;
    top: 0;
    padding-top: 10px;
    width: 100%;
    left: 0;

    img {
      width: 50%;
      margin-left: 25%;
      padding-top: 4em;
    }
  }
}

.mobilenav
.mobile-menu {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  width: 99%;
  font-size: 18px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0 auto;

    &:first-child > a{
      border-top: 0;
    }

    & > a{
      display: block;
      text-decoration: none;
      color: #040404;
      border: none;
      text-transform: uppercase;
      padding: 8px 0;
      position: relative;
      border-top: 1px solid #f2f2f2;
    }

    &.menu-item-has-children{
      position: relative;
    }

    &.menu-item-has-children > a{
      padding-right: 51px;
    }

    &.menu-item-has-children .toggle_submenu{
      content: "\f107";
      text-align: center;
      color: #323232;
      width: 41px;
      height: 42px;
      background-color: #f2f2f2;
      position: absolute;
      top: 0; right: 0;
      border: 1px solid #f2f2f2;
      font: normal normal normal 14px/1 FontAwesome;
      line-height: 42px;
      z-index: 10;
      cursor: pointer;
    }
  }
}

.mobile-menu li > a:hover,
.mobile-menu li.current-menu-item > a,
.mobile-menu li.current-menu-parent > a,
.mobile-menu li.current-menu-ancestor > a{color: #d81c09;}

.lg-backdrop.in,
.lg-outer.lg-visible{z-index: 99999;}

.mobile-bottom{
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background: rgba(9, 100, 132, 0.6);
  padding-top: 20px;
  color: #fff;

  a {
    color: #fff;
  }
}

.mobile-menu .sub-menu{border-top: 1px solid #f2f2f2; display: none;}
.mobile-menu .sub-menu > li > a{padding-left: 15px;}
.mobile-menu .sub-menu > li > .sub-menu > a{padding-left: 15px;}

.btn-small.btn-block{width: 100%;}

/**************************************
* RESPONSIVE
***************************************/

@media (max-width: 991px){
  #header{display: none!important;}
  #head-mobile{display: block!important;}

  #header{padding: 15px 0;}
  .header-top{position: static;}

  #lang_sel_list,
  .header-top ul.header-ul{display: block; text-align: center; float: none; margin: 0 0 15px 0;}
  .header-top ul.header-ul{margin: 0;}
  .header-top ul.header-ul li{margin: 15px 0 0 0; width: 50%; float: left; text-align: left;}
  .header-top ul.header-ul li.cart-li{text-align: right;}
  .header-top ul.header-ul li.cart-li .cart-contents{display: inline-block;}

  .main-content {
    width: 100%;
    min-height: 500px;
    opacity: 0.9;
    color: $text;
    position: absolute;
    font-size: 19px;
    top: 0;
    left: 0;
  }
}
@media (max-width: 778px){
  .wpcf7-form p label, .wpcf7-form p .wpcf7-text, .wpcf7-form p .wpcf7-textarea, .wpcf7-form p .wpcf7-submit {
    width: 100%;
    margin-right: 0;
  }

}
@media (max-width: 782px){
  .main-content .description {
    padding: 40px 0;
  }
  #contact-form .panel-grid-cell {
    width: 100%!important;
  }
  .sow-cta-text {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
  }
  .so-widget-sow-button {
    width: 100%;
  }
}